---
layout: default
title: DevCraft Academy
---

<section class="claim container">
  <p>Für Web- und App-Developer mit erster Berufserfahrung:</p>
  <h1>
    So wirst du in nur <em>6 Monaten</em> vom Junior
    <em>zum Senior&nbsp;Developer</em> ohne jahrelanges Laufen im Hamsterrad!
  </h1>
</section>
<section class="metrics">
  <div class="container">
    <div class="row gy-4">
      {% include metric.html metric="20+" text="Jahre internationale
      Development-Erfahrung" %} {% include metric.html metric="Unter Top 3%"
      text="der weltbesten Entwickler:innen – bewertet von Toptal" %} {% include
      metric.html metric="2000+" text="Stunden Erfahrung im Mentoring für
      Junior-Entwickler:innen" %}
    </div>
  </div>
</section>
<section class="video container">
  <h2>Hierher kommt das Video</h2>
  {% include cta_button.html text="Preis erhalten" %}
</section>
<section class="problems">
  <div class="container">
    <h2 class="text-center">
      Hast du das Gefühl, du entwickelst dich einfach nicht weiter?
    </h2>
    <div class="row row-cols-1 row-cols-md-3 gx-5 gy-5">
      {% include problem.html icon="piggy-bank" headline="Schlechte Bezahlung"
      text="<strong>Dein Gehalt verbessert sich nicht</strong> so, wie du dir
      das vorstellst?" %} {% include problem.html icon="arrow-down-right-circle"
      headline="Keine Aufstiegschancen" text="Du gewinnst mehr und mehr
      Erfahrung, aber wirst <strong>noch immer gleich behandelt?</strong>" %} {%
      include problem.html icon="life-preserver" headline="Kein Support"
      text="Du brauchst <strong>Unterstützung</strong>, bekommst
      <strong>in deinem Job aber keine</strong>?" %} {% include problem.html
      icon="emoji-frown" headline="Unfairer Wettbewerb" text="Du musst mit
      <strong>günstigen Entwickler:innen</strong> aus dem Ausland
      <strong>konkurrieren</strong>?" %} {% include problem.html icon="magnet"
      headline="Ausbeutung" text="Du bekommst
      <strong>nicht mehr vom Kuchen</strong>, den dein Chef mit dir verdient?"
      %} {% include problem.html icon="trophy" headline="Keine Koryphäe"
      text="Du weißt einfach nicht, wie du zu den
      <strong>besten Entwickler:innen der Welt</strong> zählen kannst?" %}
    </div>
  </div>
</section>
<section class="claim container h1">
  <div class="h1">
    Es ist absolut möglich, dass du als Junior in <em>6 Monaten</em> mit dem
    geballten Wissen an zeitlosen Dev-Skills das
    <em>Senior&#8209;Level</em> erreichst.
  </div>
</section>
<section class="aboutMe">
  <p class="lead">Wer bin ich, dass ich so etwas zu behaupte?</p>
  <h2>Internationaler Software Entwickler seit über 20 Jahren</h2>
  <img src="assets/images/photo_agentconf.jpg" alt="AgentConf 2019" class="img-fluid">
  <ul>
    <li>Start-up Gründer und CEO</li>
    <li>Top 3% der weltbesten Software-Entwickler, Auszeichnung der internationalen Freelancer-Agentur Toptal</li>
    <li>Software-Aufträge von erfolgreichen IT-Firmen im Silicon Valley und auf der ganzen Welt</li>
    <li>Speaker auf Konferenzen und Meetups</li>
    <li>CTO in einem medizinischen Unternehmen</li>
    <li>über 100 Software-Projekte für Top-Startups wie Bitmovin, PSPDFKit und Podigee umgesetzt</li>
    <li>Zusammenarbeit mit mehr als 300 internationalen Software-Entwickler:innen</li>
  </ul>
</section>
