---
layout: default
title: In Rekordzeit zum Senior
---

<section class="primary claim container">
  <p class="lead">
    Für Web- und App-Entwickler:innen mit erster Berufserfahrung:
  </p>
  <h1 class="display-6 mb-5">
    So wirst du
    <strong>in Rekordzeit zum Senior&nbsp;Developer</strong>
    <br />
    ohne endlose Tutorials und jahrelange Abhängigkeit von anderen.
  </h1>
</section>
<section class="vidalytics container">
  <p class="lead">Im Video erfährst du, wie das geht:</p>
  {% include introvideo.html %}
  {% include cta_button.html text="Erstgespräch vereinbaren" class="btn_lg mt-4" %}
</section>
<section class="metrics">
  <div class="container">
    <div class="row gy-5 gx-lg-5">
      {% include metric.html metric="20+ Jahre" text="internationale
      Development-Erfahrung" %} {% include metric.html metric="Unter Top 3%"
      text="der weltbesten Entwickler:innen – bewertet von Toptal" %} {% include
      metric.html metric="2000+ Stunden" text="Erfahrung im Mentoring von
      Junior-Entwickler:innen" %}
    </div>
  </div>
</section>
<section class="problems arguments">
  <div class="container">
    <h2>Hast du das Gefühl, du entwickelst dich einfach nicht weiter?</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-lg-5">
      {% include argument.html icon="piggy-bank" headline="Schlechte Bezahlung"
      text="<strong>Dein Gehalt verbessert sich nicht</strong> so,<br />wie du
      dir das vorstellst?" %} {% include argument.html
      icon="arrow-down-right-circle" headline="Keine Aufstiegschancen" text="Du
      gewinnst mehr und mehr Erfahrung,<br />aber wirst
      <strong>noch immer gleich behandelt?</strong>" %} {% include argument.html
      icon="life-preserver" headline="Kein Support" text="Du brauchst
      <strong>Unterstützung</strong>,<br>bekommst
      <strong>in deinem Job aber keine</strong>?" %} {% include argument.html
      icon="emoji-frown" headline="Unfairer Wettbewerb" text="Du musst mit
      <strong>günstigen Entwickler:innen</strong> aus dem Ausland
      <strong>konkurrieren</strong>?" %} {% include argument.html icon="magnet"
      headline="Ausbeutung" text="Du bekommst
      <strong>nicht mehr vom Kuchen</strong>,<br>den dein Chef mit dir verdient?"
      %} {% include argument.html icon="trophy" headline="Keine Koryphäe"
      text="Du weißt einfach nicht, wie du zu den
      <strong>besten Entwickler:innen der Welt</strong> zählen kannst?" %}
    </div>
  </div>
</section>
<section class="claim container display-6">
  Es ist absolut möglich, dass du <strong>in Rekordzeit</strong> mit dem
  geballten&nbsp;Wissen an zeitlosen Dev-Skills
  <strong>zum Top-Developer wirst</strong>.
</section>
<section class="about-me container pt-0">
  <h2 class="text-center mb-5">Wer bin ich, dass ich so etwas behaupte?</h2>
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture about-me photo_agentconf_cropped.jpg --alt Clemens Helm %}
      </div>
      <div class="col-md-6">
        <div class="card-body p-4 px-lg-5">
          <p class="display-6">
            Internationaler Software Entwickler seit über 20 Jahren
          </p>
          <h3 class="card-title h5 mb-1">
            Clemens Helm
            <small class="text-muted">Start-up Gründer und CEO</small>
          </h3>
        </div>
        <ul class="list-group list-group-flush px-4 px-lg-5">
          <li class="list-group-item px-0">
            <strong>Top 3%</strong> der weltbesten Software-Entwickler,
            Auszeichnung der internationalen Freelancer-Agentur Toptal
          </li>
          <li class="list-group-item px-0">
            Software-Aufträge von erfolgreichen IT-Firmen im
            <strong>Silicon Valley</strong> und auf der
            <strong>ganzen Welt</strong>
          </li>
          <li class="list-group-item px-0">
            <strong>Speaker</strong> auf Europas größten Developer-Konferenzen
          </li>
          <li class="list-group-item px-0">
            4 Jahre <strong>CTO</strong> beim Med-Tech-Unternehmen Medbee
          </li>
          <li class="list-group-item px-0">
            <strong>Über 100 Software-Projekte</strong> für Top-Startups wie
            Bitmovin, PSPDFKit und Podigee umgesetzt
          </li>
          <li class="list-group-item px-0">
            Zusammenarbeit mit mehr als
            <strong> 300 internationalen Software-Entwickler:innen </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="benefits arguments">
  <div class="container">
    <h2>
      Wie sieht deine Karriere aus, nachdem du mit uns zusammengearbeitet hast?
    </h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-lg-5">
      {% include argument.html icon="sunglasses" headline="Souverän als Senior"
      text="Du wendest
      <strong
        >mühelos alle Fertigkeiten eines erfahrenen Senior-Developers</strong
      >
      an,<br>weil sie dir in Fleisch und Blut übergegangen sind." %} {% include
      argument.html icon="cash-stack" headline="Schneller zu mehr Gehalt"
      text="Du bewältigst komplexere Herausforderungen und
      <strong>verdienst dadurch bedeutend mehr</strong>.<br>Und das nach nur
      wenigen Monaten." %} {% include argument.html icon="shield-check"
      headline="Ein sicheres Gefühl" text="Du fühlst dich
      <strong>sicher bei allen Herausforderungen</strong>, weil du das Rüstzeug
      hast, sie zu bewältigen." %} {% include argument.html icon="hammer"
      headline="Vielfältige Jobangebote" text="Dank deiner gefragten Fähigkeiten
      kannst du aus einer <strong>Unmenge attraktiver Jobs auswählen</strong>."
      %} {% include argument.html icon="heart" headline="Erfülltes Berufsleben"
      text="Du wirst mit
      <strong>interessanten und höherwertigen Aufgaben</strong> betraut und
      gewinnst immer mehr Vertrauen." %} {% include argument.html icon="gem"
      headline="Anerkennung als Spitzen-Developer" text="In deiner Arbeit und in
      deinem Umfeld wirst du für deine
      <strong>Expertise respektiert und um professionellen Rat gefragt</strong
      >." %} {% include argument.html icon="people-fill" headline="Top-Dev
      Netzwerk" class="offset-md-3 offset-lg-4" text="Du teilst dein Ziel mit
      talentierten Entwickler:innen, die dich auf deinem Weg begleiten.<br>
      <strong>Es entstehen Projekte, Jobangebote und Freundschaften.</strong>"
      %}
    </div>
  </div>
</section>
{% include methods.html %}
<section class="pain">
  <div class="container">
    <h2 class="mb-5 text-center">Wenn du keine Lust mehr hast, …</h2>
    <div class="row row-cols-1 row-cols-lg-2 gy-5 gx-lg-5">
      <div class="col display-6">
        … dass dir andere Entwicker:innen deinen
        <mark>Traumjob wegschnappen</mark>.
      </div>
      <div class="col display-6">
        … dass jede <mark>künstliche Intelligenz</mark> besseren Code schreibt
        als du.
      </div>
      <div class="col col-md-6 offset-lg-3 display-6">
        … in diverse Online-Kurse zu investieren, die dir
        <mark>in der Praxis nichts gebracht</mark> haben.
      </div>
    </div>
  </div>
</section>
<section class="claim container display-6">
  Wenn du möchtest, dass deine Handlungen endlich
  <strong>Früchte tragen 🍒</strong>,<br>dann
  <strong>unterstützen wir dich dabei 💪🏼</strong>!
</section>
<section class="testimonials container pt-0">
  <h2 class="text-center mb-lg-5">
    Developer, die es schon in Rekordzeit zum Senior geschafft haben:
  </h2>
  {% for testimonial in site.data.testimonials %} {% include testimonial.html
  testimonial=testimonial %} {% endfor %}
</section>
<section class="reasons">
  <div class="container">
    <h2 class="text-center">
      3 Gründe warum du einen Termin mit uns vereinbaren solltest
    </h2>
    <ol class="lead">
      <li>
        Wir durchleuchten deine Entwicklungsfähigkeiten und erstellen eine
        <mark>maßgeschneiderte zentimetergenaue Wegbeschreibung</mark>, wie du
        es zum Senior schaffen wirst. Du wirst erstaunt sein, wie gut du dich
        selbst dabei kennenlernst!
      </li>
      <li>
        Mit der Erfahrung von dutzenden Spitzen-Developers und Tech-Leaders, die
        dir auch als Mentoren zur Seite stehen, erwirbst du neue,
        <mark>speziell für dich ausgewählte Kenntnisse und Fähigkeiten</mark>,
        die die allermeisten Developer in den Schatten stellen werden.
      </li>
      <li>
        Was du bei uns lernst, wirst du <mark>nie wieder vergessen!</mark> Unser
        Programm ist so aufgebaut, dass du alles Erlernte auf spielerische Weise
        tief in deinem Hirn eingravierst.
      </li>
    </ol>
  </div>
</section>
<section class="claim container">
  <h2 class="display-6">
    Wenn das gut klingt, <strong>sichere dir jetzt einen Call!</strong>
  </h2>
  <p>
    Teilnehmerzahl des nächsten „Junior to Senior”-Programms auf maximal 10
    Leute limitiert.
  </p>
</section>
<section class="cta-steps container text-center">
  <div class="row mb-5 gy-5 gx-lg-5 row-cols-1 row-cols-md-3">
    <div class="col">
      <h3>Schritt 1</h3>
      <p class="lead">
        Such dir unten einen <strong>Termin für dein Erstgespräch</strong> aus.
      </p>
    </div>
    <div class="col">
      <h3>Schritt 2</h3>
      <p class="lead">
        In diesem Gespräch nehmen wir deine bisherige Developer-Karriere unter
        die Lupe und erarbeiten, wie dein
        <strong>kürzester Weg zum Senior</strong> aussieht.
      </p>
    </div>
    <div class="col">
      <h3>Schritt 3</h3>
      <p class="lead">
        Wir geben dir
        <strong>Quick-Tipps, die du gleich umsetzen kannst</strong>. Egal, ob du
        mit uns zusammenarbeiten möchtest oder nicht. Abschließend beurteilen
        wir, ob du für unser Programm geeignet bist.
      </p>
    </div>
  </div>
  <!-- Calendly Inline-Widget Beginn -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/devcraftacademy/erstgesprach" style="min-width:320px;height:700px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly Inline-Widget Ende -->
  <p class="lead">Werde einer der besten Senior Developers weltweit!</p>
</section>
