---
layout: default
title: Ueber uns
---

{% include vidalytics_conversion_tracking.html %}
<section class="primary claim container">
  <h1 class="display-6">
    <strong>Wir bringen Nachwuchstalente zur Spitzenleistung!</strong>
    <br />
    Wir sind davon überzeugt, dass Programmieren nicht nur eine Fähigkeit,
    sondern ein
    <strong>Schlüssel zur Verwirklichung von Träumen</strong> ist.
  </h1>
</section>
<div class="story container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture about-me history.png --alt unsere Geschichte %}
      </div>
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h2>Unsere Geschichte</h2>
          <p class="message">
            Die DevCraft Academy entstand aus der Idee, Menschen, die das
            Programmieren lieben, und Unternehmen, die nach talentierten
            Junior-Programmierern suchen, zu verbinden.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="mission-section">
  <div class="mission container">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body p-4 px-lg-5">
          <h2>Mission Statement</h2>
          <p class="message">
            Wir wollen Leute, die bereits auf Junior-Niveau programmieren
            können, auf das nächste Level bringen. Unser Fokus liegt darauf,
            Menschen zu befähigen, ihre Träume und beruflichen Ziele im Bereich
            der Programmierung zu erreichen.
          </p>
        </div>
      </div>
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture about-me mission.png --alt Mission %}
      </div>
    </div>
  </div>
</section>
<section class="values container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture about-me values.png --alt unsere Werte %}
      </div>
      <div class="col-md-6">
        <div class="card-body p-4 px-lg-5">
          <h2>Unsere Werte</h2>
          <ol>
            <li>
              <strong>Kompetenz:</strong> Wir streben nach höchster Qualität und
              Leistung in allem, was wir tun.
            </li>
            <li>
              <strong>Agilität:</strong> Wir passen uns den individuellen
              Bedürfnissen unserer Teilnehmer und Kunden an.
            </li>
            <li>
              <strong>Innovation:</strong> Wir bleiben stets auf dem neuesten
              Stand der Technologie und entwickeln kreative Schulungslösungen.
            </li>
            <li>
              <strong>Teamarbeit:</strong> Wir fördern die Fähigkeit, effektiv
              in multidisziplinären Teams zu arbeiten, um gemeinsame Ziele zu
              erreichen.
            </li>
            <li>
              <strong>Nachhaltigkeit:</strong> Wir setzen uns für langfristige
              Erfolge ein.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="benefits arguments">
  <div class="teamtext container">
    <h2>Unser Team</h2>
  </div>
  <div class="team container">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body p-4 px-lg-5">
            <p class="founders-heading">Das Gründerpaar</p>
            <h3 class="card-title h5 mb-1">
              Clemens Helm
              <small class="text-muted"
                >Ideengeber und Master Mind der DevCraft Academy. Operativer CEO
                und CTO. Über 20 Jahre Erfahrung als internationaler Software
                Entwickler.</small
              >
            </h3>
            <h3 class="card-title h5 mb-1 mt-4">
              Carola Helm
              <small class="text-muted"
                >Marketingchefin und strategischer CEO von der ersten Stunde.
                Koordination der Softskill Trainings.</small
              >
            </h3>
          </div>
        </div>
        <div
          class="image col-md-6 d-flex flex-column justify-content-end founders"
        >
          {% picture about-me carola_clemes.jpg --alt Clemens und Carola Helm %}
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="teamtext container text-box">
    <p class="message-2">
      Unser Team besteht aus hochqualifizierten Experten, mit umfassender
      Berufserfahrung und einer guten Lehrkompetenz.
    </p>
  </div> -->

  <div class="teamgallery container">
    {% for member in site.data.teammembers %}
    <div class="employee col-md-4">
      <div
        class="card"
        data-bs-toggle="modal"
        data-bs-target="#memberModal{{ forloop.index }}"
      >
        <img
          src="{{ member.image }}"
          alt="{{ member.name }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <p class="card-text">{{ member.position }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="vision container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture about-me vision.png --alt unsere Geschichte %}
      </div>
      <div class="col-md-6">
        <div class="card-body p-4 px-lg-5">
          <h2>Unsere Vision</h2>
          <p class="message">
            Wir wollen, dass du und dein Unternehmen euer volles Potenzial
            erreicht. Wir glauben an lebenslanges Lernen, und sind davon
            überzeugt, dass alle davon profitieren werden. Unser Fokus liegt
            darauf, Personen zu befähigen, ihre Träume und beruflichen Ziele im
            Bereich der Programmierung zu erreichen.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cta-box">
  {% include cta_button.html text="Erstgespräch vereinbaren" class="btn_lg mt-4"
  %}
</div>
