---
layout: marketing-funnel-layout
title: intro
---

<!-- Hero -->
<div class="container content-space-t-4">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="display-4 mb-4">Werde <span class="text-primary text-highlight-warning">in 6 Monaten</span> zum Senior-Developer</h1>
      <p class="lead">Ein <strong>Accelerator</strong> für Junior Web- und App-Entwickler:innen.</p>
    </div>

    <div class="w-75 mx-auto">
      <img class="img-fluid" src="/assets/svg/illustrations/oc-growing.svg" alt="Person geht gezeichnete Stiege hinauf">
    </div>
  </div>
</div>
<!-- End Hero -->
<!-- Features -->
<div class="overflow-hidden">
  <div class="container content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap">Wie das geht</span>
      <h2>Wir entwerfen deinen persönlichen Plan und setzen ihn mit dir um.</h2>
    </div>
    <!-- End Heading -->

    <div class="w-md-75 mx-md-auto">
      <div class="row justify-content-lg-center align-items-md-center">
        <div class="col-md-5 mb-7 mb-md-0">
          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg mb-5">
            <li class="list-checked-item">Maßgeschneiderte Inhalte, die all deine Wissenslücken beseitigen</li>
            <li class="list-checked-item">Täglich neue Lektionen für stetiges Wachstum</li>
            <li class="list-checked-item">Start-up Projekte mit ambitionierten Gefährt:innen</li>
            <li class="list-checked-item">Mentoring von Top-Seniors und CTOs</li>
            <li class="list-checked-item">Exklusiven Netzwerk von künftigen Spitzen-Devs</li>
          </ul>
          <!-- End List Checked -->
        </div>
        <!-- End Col -->

        <div class="col-md-7 col-lg-5">
          <div class="position-relative">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <span class="svg-icon text-primary mb-4">
                  {% svg /assets/vendor/duotone-icons/cod/cod009.svg %}
                </span>

                <h3 class="card-title">Wir zeigen dir den Weg</h3>
                <p class="card-text">Gemeinsam analysieren wir deine Stärken und Schwächen und entwickeln ein maßgeschneidertes Programm, um dich in 6 Monaten zum Top-Developer zu machen.</p>
              </div>
            </div>
            <!-- End Card -->

            <!-- SVG Shape -->
            <figure class="position-absolute bottom-0 end-0 zi-n1 mb-n7 me-n7" style="width: 12rem;">
              <img class="img-fluid" src="/assets/svg/components/dots-lg.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
</div>
<!-- End Features -->

<section class="benefits arguments">
  <div class="container">
    <h2>
      Wie sieht deine Karriere aus, nachdem du mit uns zusammengearbeitet hast?
    </h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-lg-5">
      {% include argument.html icon="sunglasses" headline="Souverän als Senior"
      text="Du wendest
      <strong
        >mühelos alle Fertigkeiten eines erfahrenen Senior-Developers</strong
      >
      an,<br>weil sie dir in Fleisch und Blut übergegangen sind." %} {% include
      argument.html icon="cash-stack" headline="Schneller zu mehr Gehalt"
      text="Du bewältigst komplexere Herausforderungen und
      <strong>verdienst dadurch bedeutend mehr</strong>.<br>Und das nach nur
      wenigen Monaten." %} {% include argument.html icon="shield-check"
      headline="Ein sicheres Gefühl" text="Du fühlst dich
      <strong>sicher bei allen Herausforderungen</strong>, weil du das Rüstzeug
      hast, sie zu bewältigen." %} {% include argument.html icon="hammer"
      headline="Vielfältige Jobangebote" text="Dank deiner gefragten Fähigkeiten
      kannst du aus einer <strong>Unmenge attraktiver Jobs auswählen</strong>."
      %} {% include argument.html icon="heart" headline="Erfülltes Berufsleben"
      text="Du wirst mit
      <strong>interessanten und höherwertigen Aufgaben</strong> betraut und
      gewinnst immer mehr Vertrauen." %} {% include argument.html icon="gem"
      headline="Anerkennung als Spitzen-Developer" text="In deiner Arbeit und in
      deinem Umfeld wirst du für deine
      <strong>Expertise respektiert und um professionellen Rat gefragt</strong
      >." %} {% include argument.html icon="people-fill" headline="Top-Dev
      Netzwerk" class="offset-md-3 offset-lg-4" text="Du teilst dein Ziel mit
      talentierten Entwickler:innen, die dich auf deinem Weg begleiten.<br>
      <strong>Es entstehen Projekte, Jobangebote und Freundschaften.</strong>"
      %}
    </div>
  </div>
  <div class="cta-box box-mt-10">
      <a href="/quiz-1/">
          <button class="btn btn-primary btn-lg">Weiter</button>
      </a>
  </div>
</section>


<section class="arguments">
  <div class="teamtext container">
    <h2>Das Gründerpaar</h2>
  </div>

  <div class="teamgallery container">
      <div class="employee col-md-4">
        <div class="card">
          {% picture about-me carola_clemens.jpg --alt Clemens und Carola Helm %}
          <div class="card-body">
            <h5 class="card-title text-center">Clemens und Carola Helm</h5>
            <p class="card-text text-center">CEOs der DevCraft Academy</p>
          </div>
        </div>
      </div>
  </div>

  <div class="container mt-4">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body p-4 px-lg-5">
              <h3 class="card-title h5 mb-1 text-center">
                Clemens ist
              </h3>
              <ul class="list-group list-group-flush px-4 px-lg-5">
                <li class="list-group-item px-0">
                    Start-up Gründer, <strong>Ideengeber und Master Mind</strong> der DevCraft Academy
                </li>
                <li class="list-group-item px-0">
                    Internationaler Software Entwickler seit über <strong>20 Jahren</strong>
                </li>
                <li class="list-group-item px-0">
                  <strong>Top 3%</strong> der weltbesten Software-Entwickler,
                  Auszeichnung der internationalen Freelancer-Agentur Toptal
                </li>
                <li class="list-group-item px-0">
                  Software-Aufträge von erfolgreichen IT-Firmen im
                  <strong>Silicon Valley</strong> und auf der
                  <strong>ganzen Welt</strong>
                </li>
                <li class="list-group-item px-0">
                  <strong>Speaker</strong> auf Europas größten Developer-Konferenzen
                </li>
                <li class="list-group-item px-0">
                  4 Jahre <strong>CTO</strong> beim Med-Tech-Unternehmen Medbee
                </li>
                <li class="list-group-item px-0">
                  <strong>Über 100 Software-Projekte</strong> für Top-Startups wie
                  Bitmovin, PSPDFKit und Podigee umgesetzt
                </li>
                <li class="list-group-item px-0">
                  Zusammenarbeit mit mehr als
                  <strong> 300 internationalen Software-Entwickler:innen </strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body p-4 px-lg-5">
              <h3 class="card-title h5 mb-1 text-center">
                Carola ist
              </h3>
              <ul class="list-group list-group-flush px-4 px-lg-5">
                <li class="list-group-item px-0">
                  <strong>CEO</strong> und verantwortlich für den <strong>öffentlichen Auftritt</strong> der DevCraft Academy
                </li>
                <li class="list-group-item px-0">
                  <strong>Operative und strategische Leitung</strong> im Controlling, Sales und Markteing
                </li>
                <li class="list-group-item px-0">
                  Erstellt Lernkonzepte für <strong>Soft Skills und Teamkultur</strong> in agilen Scrum-Teams
                </li>
                <li class="list-group-item px-0">
                  3 Jahre <strong>QA Managerin</strong> beim Med-Tech-Unternehmen Medbee
                </li>
                <li class="list-group-item px-0">
                  <strong>Projektmanagerin</strong> für <strong>Social Media Marketing</strong> bei Damensache
                </li>
                <li class="list-group-item px-0">
                  Vom Studium der <strong>Ernährungswissenschaften</strong> an der Uni Wien, hin zu <strong>Public Health</strong> an der Meduni Wien
                </li>
                <li class="list-group-item px-0">
                  <strong>Top Managementskills</strong> und effiziente Planung durch Mutter-sein von zwei Kindern
                </li>
                <li class="list-group-item px-0">
                  Hat als <strong>Ernährungsberaterin</strong> bei der Gesundheit Österreich GmbH und Mrs. Sporty gearbeitet
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
    
  <div class="cta-box box-mt-10">
      <a href="/benefits/">
          <button class="btn btn-primary btn-lg">Weiter</button>
      </a>
  </div>
</section>
