---
layout: marketing-funnel-layout
title: quiz-1
---

<section class="primary claim container mt-10">
  <h3 class="text-center">Lass uns herausfinden, ob wir zusammen passen.</h3>
  <h3 class="mb-6 text-center">Beantworte dafür bitte ein paar Fragen.</h3>
</section>
<div class="container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h2 class="text-center">
            Wie lange arbeitest du schon als Software Developer?
          </h2>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center">
        <form class="d-flex flex-column py-3">
          {% include quiz/answer.html name="quiz-1" id="no-job" label="keine Erfahrung" %}
          {% include quiz/answer.html name="quiz-1" id="less-6-month" label="weniger als 6 Monate" %}
          {% include quiz/answer.html name="quiz-1" id="up-12-month" label="6-12 Monate" %}
          {% include quiz/answer.html name="quiz-1" id="over-12-month" label="über 12 Monate" %}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- CTA -->
<div class="container mt-4">
  <div class="w-lg-75 mx-lg-auto">
    <div class="card card-sm overflow-hidden">
      <!-- Card -->
      <div class="card-body">
        <div
          class="row justify-content-md-center align-items-md-center text-center text-md-start"
        >
          <div class="col-md-auto">
            <a
              class="btn btn-primary btn-transition button-link disabled"
              id="quiz1Button"
              href="/quiz-funnel/quiz-2.html"
              >Weiter</a
            >
          </div>

          <!-- SVG Shape -->
          <figure
            class="w-25 d-none d-md-block position-absolute top-0 start-0 mt-n2"
          >
            <svg
              viewBox="0 0 451 902"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.125"
                d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820"
                stroke="url(#paint2_linear)"
                stroke-width="164"
                stroke-miterlimit="10"
              />
              <defs>
                <linearGradient
                  id="paint2_linear"
                  x1="323.205"
                  y1="785.242"
                  x2="-97.6164"
                  y2="56.3589"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="white" stop-opacity="0" />
                  <stop offset="1" stop-color="#377dff" />
                </linearGradient>
              </defs>
            </svg>
          </figure>
          <!-- End SVG Shape -->
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End CTA -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const answerOptions = document.querySelectorAll('input[name="quiz-1"]');

      answerOptions.forEach((option) => {
        option.addEventListener("change", function (event) {
          const questionId = "quiz-1";
          const selectedAnswer = event.target.value;

          saveAnswer(questionId, selectedAnswer);

          const isChecked = [...answerOptions].some((option) => option.checked);
          quiz1Button.classList.toggle("disabled", !isChecked);
        });
      });
    });
  </script>
</div>
