---
layout: marketing-funnel-layout
title: quiz-1
---

<section class="primary claim container mt-10">
  <h3 class="text-center">Lass uns herausfinden, ob wir zusammen passen.</h3>
  <h3 class="mb-6 text-center">Beantworte dafür bitte ein paar Fragen.</h3>
</section>
<div class="container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h2 class="text-center">
            Wie lange arbeitest du schon als Software Developer?
          </h2>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center">
        <form class="d-flex flex-column py-3">
          {% include quiz/answer.html name="quiz-1" id="no-job" label="keine Erfahrung" %}
          {% include quiz/answer.html name="quiz-1" id="less-6-month" label="weniger als 6 Monate" %}
          {% include quiz/answer.html name="quiz-1" id="up-12-month" label="6-12 Monate" %}
          {% include quiz/answer.html name="quiz-1" id="over-12-month" label="über 12 Monate" %}
        </form>
      </div>
    </div>
  </div>
</div>

{% include quiz/cta_button.html nextUrl="/quiz-funnel/quiz-2.html" %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const answerOptions = document.querySelectorAll('input[name="quiz-1"]');

    answerOptions.forEach((option) => {
      option.addEventListener("change", function (event) {
        const questionId = "quiz-1";
        const selectedAnswer = event.target.value;

        saveAnswer(questionId, selectedAnswer);

        const isChecked = [...answerOptions].some((option) => option.checked);
        quizButton.classList.toggle("disabled", !isChecked);
      });
    });
  });
</script>
