---
layout: marketing-funnel-layout
title: quiz-4
---

<form
  action="./quiz-5.html"
  data-controller="quiz-question"
  data-action="submit->quiz-question#submit change->quiz-question#change"
  data-quiz-question-number-value="4"
>
  <div class="container mt-10">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2 class="text-center">
              Wie viel Zeit kannst du pro Tag in eine Online Weiterbildung
              investieren?
            </h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div class="d-flex flex-column">
            {% include quiz/answer.html id="up-30-minutes" label="bis 30 Minuten" %}
            {% include quiz/answer.html id="up-60-minutes" label="30-60 Minuten" %}
            {% include quiz/answer.html id="over-60-minutes" label="über 60 Minuten" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include quiz/cta_button.html %}
</form>
