---
layout: marketing-funnel-layout
title: Frage 1
---

<section class="primary claim container mt-10">
  <h3 class="text-center">Lass uns herausfinden, ob wir zusammen passen.</h3>
  <h3 class="mb-6 text-center">Beantworte dafür bitte ein paar Fragen.</h3>
</section>

<form
  action="./quiz-2.html"
  data-controller="quiz-question"
  data-action="submit->quiz-question#submit change->quiz-question#change"
  data-quiz-question-number-value="1"
>
  {% include quiz/question.html question=site.data.quiz_questions.question-1 %}

  {% include quiz/cta_button.html %}
</form>
