---
layout: marketing-funnel-layout
title: quiz-3
---

<form action="./quiz-4.html">
  <div class="container mt-10">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2 class="text-center">
              Auf welchem Level siehst du dich im Software Development in einem
              Jahr?
            </h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div class="d-flex flex-column">
            {% include quiz/answer.html name="quiz-3" id="senior-level" label="Senior Level" %}
            {% include quiz/answer.html name="quiz-3" id="intermediate-level" label="Intermediate Level" %}
            {% include quiz/answer.html name="quiz-3" id="junior-level" label="Junior Level" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include quiz/cta_button.html %}
</form>

<script>
  const questionId = "quiz-3";

  document.addEventListener("DOMContentLoaded", function () {
    const answerOptions = document.querySelectorAll(`input[name="${questionId}"]`);

    answerOptions.forEach((option) => {
      option.addEventListener("change", function (event) {
        const isChecked = [...answerOptions].some((option) => option.checked);
        const quizButton = document.querySelector("button[type=submit]");
        quizButton.classList.toggle("disabled", !isChecked);
      });
    });

    document.querySelector('form').addEventListener("submit", (event) => {
      const selectedAnswer = document.querySelector(`input[name="${questionId}"]:checked`).value;
      saveAnswer(questionId, selectedAnswer);

      // Avoid putting the form data in the URL
      event.preventDefault();
      window.location.href = event.target.action;
    });
  });
</script>
