---
layout: marketing-funnel-layout
title: quiz-2
---

<div class="container mt-10">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h2 class="text-center">
            In welchem Bereich des Software Development bist du tätig
          </h2>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center">
        <form class="d-flex flex-column">
          {% include quiz/answer.html name="quiz-2" id="web-development" label="Web Development" %}
          {% include quiz/answer.html name="quiz-2" id="mobile-app" label="Mobile App Development" %}
          {% include quiz/answer.html name="quiz-2" id="app-development" label="Applikation Development" %}
          {% include quiz/answer.html name="quiz-2" id="other-field" label="Anderes" %}
        </form>
      </div>
    </div>
  </div>
</div>

{% include quiz/cta_button.html nextUrl="/quiz-funnel/quiz-3.html" %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const answerOptions = document.querySelectorAll('input[name="quiz-2"]');

    answerOptions.forEach((option) => {
      option.addEventListener("change", function (event) {
        const questionId = "quiz-2";
        const selectedAnswer = event.target.value;

        saveAnswer(questionId, selectedAnswer);

        const isChecked = [...answerOptions].some((option) => option.checked);
        quizButton.classList.toggle("disabled", !isChecked);
      });
    });
  });
</script>
