---
layout: marketing-funnel-layout
title: quiz-6
---

<form action="./ende.html">
  <div class="container mt-10">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2 class="text-center">
              Was ist dir eine 6 Monate lange Weiterbildung für deinen beruflichen
              Erfolg wert?
            </h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div class="d-flex flex-column">
            {% include quiz/answer.html name="quiz-5" id="less-1000" label="unter 1.000 €" %}
            {% include quiz/answer.html name="quiz-5" id="1000-10000" label="1.000 € - 10.000 €" %}
            {% include quiz/answer.html name="quiz-5" id="over-10000" label="über 10.000 €" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include quiz/cta_button.html %}
</form>

<script>
  const questionId = "quiz-5";

  document.addEventListener("DOMContentLoaded", function () {
    const answerOptions = document.querySelectorAll(`input[name="${questionId}"]`);

    answerOptions.forEach((option) => {
      option.addEventListener("change", function (event) {
        const isChecked = [...answerOptions].some((option) => option.checked);
        const quizButton = document.querySelector("button[type=submit]");
        quizButton.classList.toggle("disabled", !isChecked);
      });
    });

    document.querySelector('form').addEventListener("submit", (event) => {
      const selectedAnswer = document.querySelector(`input[name="${questionId}"]:checked`).value;
      saveAnswer(questionId, selectedAnswer);

      // Avoid putting the form data in the URL
      event.preventDefault();
      window.location.href = event.target.action;
    });
  });
</script>
