<!-- <span class="text-cap mb-0 me-2">Teilen:</span> -->
<div class="d-flex gap-2">
    <a class="btn btn-soft-primary btn-sm btn-icon rounded-circle" href="https://www.linkedin.com/company/devcraft-academy/" target="_blank">
        <div>{% svg ../assets/svg/linkedin.svg %}</div>
    </a>
    <a class="btn btn-soft-primary btn-sm btn-icon rounded-circle" href="https://www.instagram.com/devcraft.academy/" target="_blank">
        <div>{% svg ../assets/svg/instagram.svg %}</div>
    </a>
    <a class="btn btn-soft-primary btn-sm btn-icon rounded-circle" href="https://www.youtube.com/@DevCraftAcademy" target="_blank">
        <div>{% svg ../assets/svg/youtube.svg %}</div>
    </a>
</div>
