<div class="card overflow-hidden">
  <div class="row g-0">
    <div class="image col-md-4 d-flex flex-column justify-content-end pt-2">
      {% if include.testimonial.screenshot %}
        {% picture testimonial-screenshot "testimonials/{{ include.testimonial.key }}_screenshot.png" --alt Screenshot einer Chat-Konversation %}
      {% endif %}
      {% picture testimonial "testimonials/{{ include.testimonial.key }}.png" --alt {{ include.testimonial.name }} %}
    </div>
    <div class="col-md-8">
      <div class="card-body p-4 px-lg-5">
        <p class="display-6">{{ include.testimonial.title }}</p>
        <h3 class="card-title h5 mb-0">
          {{ include.testimonial.name }}
          <small class="text-muted">{{ include.testimonial.role }}</small>
        </h3>
        <div class="stars mb-3">
          {% for i in (1..5) %}
            {% include bootstrap_icon.svg icon="star-fill" %}
          {% endfor %}
        </div>
        <div class="card-text">
          {{ include.testimonial.statement }}
        </div>
      </div>
    </div>
  </div>
</div>
