<script>
  (function (v, i, d, a, l, y, t, c, s) {
      c=function(u,cb){s=i.createElement('script');s.type='text/javascript';s.async=1;s.src=u;s.onload=function(){cb();};i.getElementsByTagName('head')[0].appendChild(s);}
      c(l+'conversion.min.js?cid=xueXIGJA',function(){t=i.createElement('div');t.setAttribute('style','display:none;');t.setAttribute('class',d);i.body.appendChild(t);
      y=new v[a]['ConversionTracking']({url:'https://stats.vidalytics.com'},t);y.track('jDVfUCIs',{conversionId:'xueXIGJA'});});
  })(window, document, 'vidalytics-tracker', 'VidalyticsC', 'https://fast.vidalytics.com/js/');
</script>
