<!-- CTA only fpr posts because of the image-url -->
<div class="container">
    <div class="text-center bg-img-start py-6" style="background: url(../../../assets/svg/components/shape-6.svg) center no-repeat;">
      <div class="mb-5">
        <h2>{{ include.text-1 }}</h2>
        <p>{{ include.text-2 }}</p>
      </div>

      <a class="btn btn-primary btn-transition" href="https://devcraft.academy/quiz-funnel/quiz-1.html">{{ include.btn-text }}</a>
    </div>
</div>
<!-- End CTA -->
