--- 
--- 

@use "sass:map";

// Colors
$yellow: #ffd500;
$teal: #006e89;
$primary: $teal;
$secondary: $yellow;

@import "bootstrap/scss/bootstrap.scss";

html {
  background: $teal;
}

body {
  background: white;
}

header {
  background: $primary;
  color: white;
  padding: $spacer 0;

  a {
    display: flex;
    align-items: center;
    gap: $spacer;

    &,
    &:hover {
      color: white;
      text-decoration: none;
    }
    &:active {
      color: inherit;
      text-decoration: none;
    }

    >.h2 {
      margin-bottom: 0;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up("md") {
      flex-direction: row;
    }
  }


.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include media-breakpoint-up("md") {
    flex-direction: row;
  }
}

.nav-cta-button {
  margin-top: $spacer;

  @include media-breakpoint-up("md") {
    margin-top: 0;
  }
}


.menulink {
    color: white;
    margin: 0 $spacer*3;

    &:hover {
      color: $yellow;
    }
  }
}

.vidalytics {
  margin: 0 auto;
  padding-left: $spacer;
  padding-right: $spacer;
  padding-top: 0;
  text-align: center;

  >div {
    border: 1px solid $teal-300;
  }
}

section,
footer {
  padding: $spacer * 4 0;

  @include media-breakpoint-up("lg") {
    padding: $spacer * 10 0;
  }
}

mark {
  border-radius: 0.25em;
  background-color: $yellow-400;


}

.btn_lg {
  padding: 0.3em 1em;
  font-size: large;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0);

  &:hover {
    transform: scale(1.1) rotate(-5deg);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  }

  @include media-breakpoint-up("sm") {
    font-size: x-large;
  }
}

.claim {
  &.primary {
    padding-bottom: $spacer * 4;
  }

  padding: $spacer * 5 $spacer * 2;
  text-align: center;

  @include media-breakpoint-up("lg") {
    padding: $spacer * 8 0;
  }

  strong {
    font-weight: 500;
  }

  .lead {
    font-weight: 400
  }

  &.display-6,
  .display-6 {
    color: $primary;
  }
}

.metrics {
  background: #eee;
  padding: $spacer * 4 0;

  h2 {
    color: $primary;
    white-space: nowrap;
  }

  p {
    margin-bottom: 0;
  }
}

.problems {
  padding-top: 5rem;
}

.problems,
.pain {
  background: $primary;
  color: white;
}

.arguments {
  h2 {
    margin-bottom: $spacer * 4;
    text-align: center;
  }
}

.argument {
  svg {
    width: auto;
    height: $spacer * 2;
    margin-bottom: $spacer;
  }
}

.about-me {
  max-width: 65rem;

  picture {
    height: 100%;
    display: flex;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .display-6 {
    margin-bottom: $spacer * 3;
  }

  ul {
    margin-bottom: $spacer * 2;

    li:first-child {
      border-top: none;
    }
  }
}

.benefits {
  background: $yellow-300;
}

.method {
  .card {
    height: 100%;

    svg {
      width: 100%;
      height: auto;
      color: $yellow;
    }
  }

  .card-img-top {
    padding: 10% 35%;
    background: $teal-400;
  }

  .arrow {
    // vertically center svg in container with flexbox
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: $spacer * 5;
      height: auto;
      color: $yellow-200;
    }
  }

  .card-title {
    display: flex;
    align-items: baseline;
    gap: $spacer;
  }

  h3 {
    margin: 0 0 $spacer * 2 0;
    position: relative;
    font-weight: 400;
  }

  .number {
    color: $teal;
    font-weight: 200;
    font-size: 3rem;
    width: 0.8em;
  }

  ul {
    padding-left: 3.3rem;
  }
}

.pain {
  .col {
    padding: $spacer $spacer * 2 0;
    text-indent: -0.73em;
    line-height: 1.4em;
  }

  mark {
    color: $teal-600;
    background-color: $yellow-300;
    white-space: nowrap;
  }
}

.testimonials {
  display: flex;
  gap: $spacer * 2;
  flex-direction: column;

  .card {
    position: relative;

    @include media-breakpoint-up("lg") {
      width: 70%;

      &:nth-of-type(2) {
        margin-left: 30%;
      }
    }

    @include media-breakpoint-up("md") {

      &:first-of-type {
        transform: rotate(-5deg);
      }

      &:nth-of-type(2) {
        transform: rotate(5deg);
      }

      &:nth-of-type(3) {
        transform: rotate(-5deg);
      }
    }

    img.profile-picture {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
      filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.4));
    }

    .screenshot {
      width: 100%;
    }

    &:first-of-type {
      .image {
        background: $teal-500;
      }

      .screenshot {
        margin-bottom: -$spacer * 3;
        transform: rotate(-10deg);
      }
    }

    &:nth-of-type(2) {
      .image {
        background: $yellow-300;
      }

      .screenshot {
        margin-bottom: -$spacer * 3;
        width: 75%;
        transform: rotate(-10deg);
      }
    }

    &:nth-of-type(3) {
      .image {
        background: $teal-300;
      }
    }

    .card-text p:last-of-type {
      margin-bottom: 0;
    }

    .display-6 {
      margin-bottom: $spacer * 3;
    }
  }

  .stars {
    color: $yellow-500;
  }
}

.reasons {
  background: $yellow-300;
  line-height: 1.4;

  .container {
    max-width: 45em;
  }

  ol {
    list-style: none;
    counter-reset: ol-counter;
  }

  li {
    counter-increment: ol-counter;
    margin: $spacer * 4 0 $spacer * 4 $spacer * 4;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: counter(ol-counter) ". ";
      font-size: 4rem;
      color: $teal-500;
      margin-right: $spacer;
      position: absolute;
      left: -$spacer * 4;
      top: -$spacer;
    }
  }

  mark {
    background: $teal;
    color: $yellow-300;
    font-weight: 500;
  }
}

.cta-steps {
  padding-top: 0;

  h3 {
    background: $teal-500;
    color: white;
    border-radius: 0.25em;
    padding: $spacer * 0.2;
  }

  strong {
    font-weight: 600;
  }
}

footer {
  background: $teal;
  color: white;
  text-align: center;

  h2 {
    font-size: inherit;
  }

  a {
    color: inherit;
  }

  .muted {
    color: $teal-200;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.impressum-link {
  color: white;
  text-decoration: underline;

  &:hover {
    color: $yellow;
  }
}

.impressum-funnel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thank-you {
  padding-left: $spacer;
  padding-right: $spacer;
  text-align: left;

  img {
    width: 100%;
  }
}

.story-position {
  display: flex;
  align-items: center;
}

.story {
  padding-bottom: $spacer * 10;
}

.team,
.story,
.mission,
.values,
.vision,
.teamgallery {
  max-width: 65rem;
  justify-content: center;
}

.mission-section {
  background: $primary;
  color: white;
  text-align: right;
}

picture {
  height: 100%;
  display: flex;
}

img {
  width: 100%;
  object-fit: cover;
}

.display-6 {
  margin-bottom: $spacer * 3;
}

ul {
  margin-bottom: $spacer * 2;

  li:first-child {
    border-top: none;
  }
}

.teamtext {
  margin-bottom: $spacer*4;
  text-align: center;
}

.founders {
  max-height: 25em;
}

.founders-heading {
  font-size: calc(1rem + 0.6vw);
}

.teamgallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: $spacer * 2;
}

.employee {
  margin: $spacer 0;

  @include media-breakpoint-up("md") {
    margin: $spacer;
  }
}

.message {
  font-size: 1.25rem;
}

.message-2 {
  font-size: 1.5rem;
}

.text-box {
  max-width: 30em;
  margin-top: $spacer*4;
}

.cta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: $spacer*10;
}

.box-mt-10 {
  margin-top: $spacer*10;
}

.dsgvo-text {
  margin-top: $spacer*2;
}

.company-info {
  list-style: none;
}

.responsive-list {
  overflow-wrap: break-word;
}

.btn-quiz {
  background-color: $yellow;

  &:hover {
    background-color: $orange-500;
  }

  &:active {
    background-color: $pink-500;
  }
}

// .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show
