<section class="primary claim container">
  <h1 class="display-6">
    <strong>Werde in 6 Monaten zum Top-Developer!</strong>
    <br />
    Eine Weiterbildung für Web- und App-Entwickler:innen.
  </h1>
</section>
<div class="story container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex flex-column justify-content-end">
        {% picture academy_insight.png --alt unser Angebot %}
      </div>
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h2>Unser Angebot</h2>
          <p>
            Wir bieten ein Training on the Job, für Menschen die bereits Fachwissen auf Junior-Level besitzen und ihre Kompetenzen vertiefen wollen.
          </p>
          <p>
            Individuelle Lerninhalte gleichen Bereiche mit geringeren Kenntnissen, auf ein ausgewogenes Verhältnis zu den Stärken aus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cta-box">
  <a href="/ueber-uns/">
      <button class="btn btn-primary btn-lg">Weiter</button>
    </a>
</div>
