<section class="primary claim container">
  <h1 class="display-6">
    Werde <strong>in 6 Monaten zum Senior-Developer!</strong>
    <br />
    Eine <strong>Weiterbildung</strong> für Web- und App-Entwickler:innen auf Junior-Level.
  </h1>
</section>
<div class="container">
  <div class="card overflow-hidden">
    <div class="row g-0">
      <div class="image col-md-6 d-flex justify-content-center">
        {% picture academy_4.png --alt unser Angebot %}
      </div>
      <div class="col-md-6 story-position">
        <div class="card-body p-4 px-lg-5">
          <h3 class="card-title h5 mb-1 text-center">
            Unser Angebot
          </h3>
          <ul class="list-group list-group-flush px-4 px-lg-5">
            <li class="list-group-item px-0">
              <strong>Weiterbildung</strong> für Software Developer mit min. <strong>6 Monate Berufserfahrung</strong>
            </li>
            <li class="list-group-item px-0">
              Inhaltlich zielt der Kurs auf <strong>Full Stack Development</strong> ab
            </li>
            <li class="list-group-item px-0">
              Allgemeine und <strong>Individuelle Inhalte</strong> helfen, deine Schwächen auszugleichen und deine Stärken auszubauen
            </li>
            <li class="list-group-item px-0">
              Die Weiterbildung dauert <strong>6 Monate</strong>
            </li>
            <li class="list-group-item px-0">
              Behalte auf unserer <strong>Trainingsplattform</strong> deinen Lernerfolg im Blick
            </li>
            <li class="list-group-item px-0">
             <strong>Täglich</strong> neue Lektionen mit <strong>1 Stunde</strong> Lernzeit
            </li>
            <li class="list-group-item px-0">
              <strong>2</strong> Live Online <strong>Q&A Sessions</strong> in der Woche
            </li>
            <li class="list-group-item px-0">
              Lektionen bestehen aus <strong>Video-Tutorials</strong> und <strong>Übungen</strong>
            </li>
            <li class="list-group-item px-0">
               Zum Vertiefen des Gelernten gibt es <strong>Projekt Arbeiten</strong> - auch im Team
            </li>
            <li class="list-group-item px-0">
              Gestalte <strong>dein Portfolio</strong> mit Unterstützung vom Senior Developer mit CTO-Erfahrung
           </li>
            <li class="list-group-item px-0">
              Erweitere dein <strong>Netzwerk</strong> mit anderen Teilnehmenden
            </li>

            <li class="list-group-item px-0">
              <strong>Slack-Channel</strong> für die DevCraft-Community und für Lerninhalte
            </li>
            <li class="list-group-item px-0">
              Unterstützung im <strong>Bewerbungsprozess</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include methods.html %}
<div class="cta-box">
  <a href="/ueber-uns/">
      <button class="btn btn-primary btn-lg">Weiter</button>
    </a>
</div>
