<section class="primary claim container">
    <h1 class="display-6">
        <strong>Ergebnisse</strong>
    </h1>
</section>
<div class="container">
    <div class="card overflow-hidden">
        <h2>Deine Antworten:</h2>
        <ul id="userAnswersList"></ul>

        <h2>Korrekte Antworten:</h2>
        <ul id="correctAnswersList"></ul>

        <div id="resultText" style="display: none;">
            <p id="resultMessage"></p>
            <a href="/rueckruf/" id="scheduleButton" class="btn btn-primary btn-lg" style="display: none;">Termin vereinbaren</a>
        </div>
    </div>
</div>
