<section class="primary claim container">
    <h1 class="display-6">
      <strong>Nutze ein kostenloses Erstgespräch,</strong>
      <br />
      um deine Karriere im Web Developmet zu beleuchten.
    </h1>
  </section>
<section class="cta-steps container text-center">
    <!-- Calendly Inline-Widget Beginn -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/devcraftacademy/erstgesprach" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly Inline-Widget Ende -->
    <p class="lead">Werde einer der besten Senior Developers weltweit!</p>
  </section>
