<section class="primary claim container">
    <h1 class="display-6">
      <strong>Nutze ein kostenloses Erstgespräch,</strong>
      <br />
      um deine Karriere im Web Developmet zu beleuchten.
    </h1>
  </section>
<section class="cta-steps container text-center">
    <div class="row mb-5 gy-5 gx-lg-5 row-cols-1 row-cols-md-3">
      <div class="col">
        <h3>Schritt 1</h3>
        <p class="lead">
          Such dir unten einen <strong>Termin für dein Erstgespräch</strong> aus.
        </p>
      </div>
      <div class="col">
        <h3>Schritt 2</h3>
        <p class="lead">
          In diesem Gespräch nehmen wir deine bisherige Developer-Karriere unter
          die Lupe und erarbeiten, wie dein
          <strong>kürzester Weg zum Senior</strong> aussieht.
        </p>
      </div>
      <div class="col">
        <h3>Schritt 3</h3>
        <p class="lead">
          Wir geben dir
          <strong>Quick-Tipps, die du gleich umsetzen kannst</strong>. Egal, ob du
          mit uns zusammenarbeiten möchtest oder nicht.
        </p>
      </div>
    </div>
    <!-- Calendly Inline-Widget Beginn -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/devcraftacademy/erstgesprach" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly Inline-Widget Ende -->
    <p class="lead">Werde einer der besten Senior Developers weltweit!</p>
  </section>
