<section class="arguments">
    <div class="teamtext container">
      <h2>Das Gründerpaar</h2>
    </div>

    <div class="teamgallery container">
        <div class="employee col-md-4">
          <div class="card">
            {% picture about-me carola_clemens.jpg --alt Clemens und Carola Helm %}
            <div class="card-body">
              <h5 class="card-title text-center">Clemens und Carola Helm</h5>
              <p class="card-text text-center">CEOs der DevCraft Academy</p>
            </div>
          </div>
        </div>
    </div>

    <div class="team container mt-4">
        <div class="card overflow-hidden">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body p-4 px-lg-5">
                <h3 class="card-title h5 mb-1 text-center">
                  Clemens ist
                </h3>
                <ul class="list-group list-group-flush px-4 px-lg-5">
                  <li class="list-group-item px-0">
                      Start-up Gründer, <strong>Ideengeber und Master Mind</strong> der DevCraft Academy
                  </li>
                  <li class="list-group-item px-0">
                      Internationaler Software Entwickler seit über <strong>20 Jahren</strong>
                  </li>
                  <li class="list-group-item px-0">
                    <strong>Top 3%</strong> der weltbesten Software-Entwickler,
                    Auszeichnung der internationalen Freelancer-Agentur Toptal
                  </li>
                  <li class="list-group-item px-0">
                    Software-Aufträge von erfolgreichen IT-Firmen im
                    <strong>Silicon Valley</strong> und auf der
                    <strong>ganzen Welt</strong>
                  </li>
                  <li class="list-group-item px-0">
                    <strong>Speaker</strong> auf Europas größten Developer-Konferenzen
                  </li>
                  <li class="list-group-item px-0">
                    4 Jahre <strong>CTO</strong> beim Med-Tech-Unternehmen Medbee
                  </li>
                  <li class="list-group-item px-0">
                    <strong>Über 100 Software-Projekte</strong> für Top-Startups wie
                    Bitmovin, PSPDFKit und Podigee umgesetzt
                  </li>
                  <li class="list-group-item px-0">
                    Zusammenarbeit mit mehr als
                    <strong> 300 internationalen Software-Entwickler:innen </strong>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body p-4 px-lg-5">
                <h3 class="card-title h5 mb-1 text-center">
                  Carola ist
                </h3>
                <ul class="list-group list-group-flush px-4 px-lg-5">
                  <li class="list-group-item px-0">
                    <strong>CEO</strong> und verantwortlich für den <strong>öffentlichen Auftritt</strong> der DevCraft Academy
                  </li>
                  <li class="list-group-item px-0">
                    <strong>operative und strategische Leitung</strong> im Controlling, Sales und Markteing
                  </li>
                  <li class="list-group-item px-0">
                    erstellt Lernkonzepte für <strong>Soft Skills und Teamkultur</strong> in agilen Scrum-Teams
                  </li>
                  <li class="list-group-item px-0">
                    3 Jahre <strong>QA Managerin</strong> beim Med-Tech-Unternehmen Medbee
                  </li>
                  <li class="list-group-item px-0">
                    <strong>Projektmanagerin</strong> für <strong>Social Media Marketing</strong> bei Damensache
                  </li>
                  <li class="list-group-item px-0">
                    vom Studium der <strong>Ernährungswissenschaften</strong> an der Uni Wien, hin zu <strong>Public Health</strong> an der Meduni Wien
                  </li>
                  <li class="list-group-item px-0">
                    <strong>Top Managementskills</strong> und effiziente Planung durch Mutter-sein von zwei Kindern
                  </li>
                  <li class="list-group-item px-0">
                    hat als <strong>Ernährungsberaterin</strong> bei der Gesundheit Österreich GmbH und Mrs. Sporty gearbeitet
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <div class="cta-box box-mt-10">
        <a href="/benefits/">
            <button class="btn btn-primary btn-lg">Weiter</button>
        </a>
    </div>
</section>
