<section class="benefits arguments">
    <div class="container">
      <h2>
        Wie sieht deine Karriere aus, nachdem du mit uns zusammengearbeitet hast?
      </h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-lg-5">
        {% include argument.html icon="sunglasses" headline="Souverän als Senior"
        text="Du wendest
        <strong
          >mühelos alle Fertigkeiten eines erfahrenen Senior-Developers</strong
        >
        an,<br>weil sie dir in Fleisch und Blut übergegangen sind." %} {% include
        argument.html icon="cash-stack" headline="Schneller zu mehr Gehalt"
        text="Du bewältigst komplexere Herausforderungen und
        <strong>verdienst dadurch bedeutend mehr</strong>.<br>Und das nach nur
        wenigen Monaten." %} {% include argument.html icon="shield-check"
        headline="Ein sicheres Gefühl" text="Du fühlst dich
        <strong>sicher bei allen Herausforderungen</strong>, weil du das Rüstzeug
        hast, sie zu bewältigen." %} {% include argument.html icon="hammer"
        headline="Vielfältige Jobangebote" text="Dank deiner gefragten Fähigkeiten
        kannst du aus einer <strong>Unmenge attraktiver Jobs auswählen</strong>."
        %} {% include argument.html icon="heart" headline="Erfülltes Berufsleben"
        text="Du wirst mit
        <strong>interessanten und höherwertigen Aufgaben</strong> betraut und
        gewinnst immer mehr Vertrauen." %} {% include argument.html icon="gem"
        headline="Anerkennung als Spitzen-Developer" text="In deiner Arbeit und in
        deinem Umfeld wirst du für deine
        <strong>Expertise respektiert und um professionellen Rat gefragt</strong
        >." %} {% include argument.html icon="people-fill" headline="Top-Dev
        Netzwerk" class="offset-md-3 offset-lg-4" text="Du teilst dein Ziel mit
        talentierten Entwickler:innen, die dich auf deinem Weg begleiten.<br>
        <strong>Es entstehen Projekte, Jobangebote und Freundschaften.</strong>"
        %}
      </div>
    </div>
    <div class="cta-box box-mt-10">
        <a href="/quiz-1/">
            <button class="btn btn-primary btn-lg">Weiter</button>
        </a>
    </div>
</section>
