<section class="primary claim container">
    <h1 class="display-6">
      <strong>Neugierig geworden?</strong>
      <br />
      Dann beantworte bitte ein paar Fragen.
    </h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="60"></div>
    </div>
</section>
<div class="container">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2>Hast du eine Ausbildung für Programmierung absolviert und wie lange hat diese gedauert?</h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <form class="d-flex flex-column">
                <input type="radio" class="btn-check" name="quiz-1" id="no-education" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-4 mb-2" for="no-education">keine Ausbildung</label>
    
                <input type="radio" class="btn-check" name="quiz-1" id="up-3-month" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="up-3-month">0-3 Monate</label>
    
                <input type="radio" class="btn-check" name="quiz-1" id="up-6-month" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="up-6-month">3-6 Monate</label>
    
                <input type="radio" class="btn-check" name="quiz-1" id="up-12-month" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="up-12-month">6-12 Monate</label>
    
                <input type="radio" class="btn-check" name="quiz-1" id="over-12-month" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-2 mb-4" for="over-12-month">über 12 Monate</label>
    
            </form>
        </div>
      </div>
    </div>
</div>
<div class="cta-box box-mt-10">
    <a href="/quiz-2/">
        <button class="btn btn-primary btn-lg">Weiter</button>
    </a>
</div>
