<section class="primary claim container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="60"></div>
    </div>
</section>
<div class="container">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2>Warum möchtest du eine Weiterbildung für Web- und App-Entwickler machen?</h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <form class="d-flex flex-column">
    
                <input type="radio" class="btn-check" name="quiz-3" id="more-confidently" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-4 my-2" for="more-confidently">souveräner programmieren</label>
    
                <input type="radio" class="btn-check" name="quiz-3" id="higher-salary" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="higher-salary">höheres Gehalt</label>
    
                <input type="radio" class="btn-check" name="quiz-3" id="more-recognition" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="more-recognition">mehr Anerkennung</label>
    
                <input type="radio" class="btn-check" name="quiz-3" id="job-offers" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="job-offers">bessere Jobangebote</label>

                <input type="radio" class="btn-check" name="quiz-3" id="just-like" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-2 mb-4" for="just-like">einfach so</label>                
    
            </form>
        </div>
      </div>
    </div>
</div>
<div class="cta-box box-mt-10">
    <a href="/quiz-4/">
        <button class="btn btn-primary btn-lg">Weiter</button>
    </a>
</div>
