<section class="primary claim container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 66.5%" aria-valuenow="66.5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</section>
<div class="container">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2>Wo siehst du dich in einem Jahr?</h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <form class="d-flex flex-column">
    
                <input type="radio" class="btn-check" name="quiz-4" id="just-development" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-4 my-2" for="just-development">Fulltime Senior Entwickler:in</label>
    
                <input type="radio" class="btn-check" name="quiz-4" id="consultant-development" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="consultant-development">Kundenberatung und Programmierung</label>
    
                <input type="radio" class="btn-check" name="quiz-4" id="projectmanagement" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="projectmanagement">Projektmanagement von IT-Teams</label>
    
                <input type="radio" class="btn-check" name="quiz-4" id="own-business" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-2 mb-4" for="own-business">Freelancer oder eigens Business</label>

            </form>
        </div>
      </div>
    </div>
</div>
<div class="cta-box box-mt-10">
    <a href="/quiz-5/">
        <button class="btn btn-primary btn-lg">Weiter</button>
    </a>
</div>
