<section class="primary claim container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</section>
<div class="container">
    <div class="card overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6 story-position">
          <div class="card-body p-4 px-lg-5">
            <h2>Wie viel kannst du in deine Weiterbildung monatlich investieren?</h2>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <form class="d-flex flex-column">
    
                <input type="radio" class="btn-check" name="quiz-5" id="up-30-minutes" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-4 my-2" for="up-30-minutes">1000€ -1500€</label>
    
                <input type="radio" class="btn-check" name="quiz-5" id="up-60-minutes" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 my-2" for="up-60-minutes">1500€ -2000€</label>
    
                <input type="radio" class="btn-check" name="quiz-5" id="over-60-minutes" autocomplete="off">
                <label class="btn btn-outline-primary mx-2 mt-2 mb-4" for="over-60-minutes">Über 2000€</label>

            </form>
        </div>
      </div>
    </div>
</div>
<div class="cta-box box-mt-10">
    <a href="/rueckruf/">
        <button class="btn btn-primary btn-lg">Rückruf buchen</button>
    </a>
</div>
