<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="In nur 6 Monaten vom Junior zum Senior Developer. Wir verraten dir, wie du mit dem geballten Wissen an zeitlosen Dev-Skills das Senior-Level erreichst."
    />
    <title>{{ page.title }} – DevCraft Academy</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/">
          {% svg /assets/images/logo.svg width=45 %}
          <div class="h2">DevCraft Academy</div>
        </a>
        {% include cta_button.html text="Preis erhalten" %}
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="container">
        <h2>Mit Liebe in Wien gemacht von der</h2>
        <p>
          Helmcraft GmbH<br />
          Hietzinger Hauptstraße 101/1<br />
          1130 Wien<br />
          Österreich
        </p>
        <p>
          <small>
            Dienstleistungen in der Datenverarbeitung und Informationstechnik,
            insbesondere die Software-Entwicklung<br />
            UID-Nr: ATU78631027<br />
            Firmenbuchnummer 588989 k<br />
            Handelsgericht Wien<br />
          </small>
        </p>
        <p>
          <small>
            Mitglied der Wirtschaftskammer für Wien, Kammernummer 892504<br />
            Fachgruppe: Unternehmensberatung, Buchhaltung und
            Informationstechnologie<br />
            (Gewerbe-)Behörde gem. ECG: Magistratisches Bezirksamt des XIII.
            Bezirkes<br />
          </small>
        </p>
        <p>
          <small>
            Beschwerden kannst du an die
            <a href="http://ec.europa.eu/odr"
              >Online-Streitbeilegungsplattform der EU richten</a
            >. Oder du schreibst uns einfach eine Mail an mail@devcraft.academy.
          </small>
        </p>
      </div>
    </footer>
  </body>
</html>
