<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% seo %}
  <link rel="preconnect" href="https://fast.vidalytics.com" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />
</head>

<body>
  <header>
    <div class="container">
      <div class="navigation">
        {% include logo_button.html text="In Rekordzeit zum Senior" %}
        {% include navigation.html %}
      </div>
      <div>{% include cta_button.html text="Erstgespräch vereinbaren" %}</div>
    </div>
  </header>
  {{ content }}
  <footer>
    <div class="container">
      <h2>Mit Liebe in Wien gemacht von der</h2>
      <p>
        Helmcraft GmbH<br />
        Hietzinger Hauptstraße 101/1<br />
        1130 Wien<br />
        Österreich
      </p>
      <p>Geschäftsführer:innen: Clemens Helm und Carola Helm</p>
      <p>
        <small>
          Dienstleistungen in der Datenverarbeitung und Informationstechnik,
          insbesondere die Software-Entwicklung<br />
          UID-Nr: ATU78631027<br />
          Firmenbuchnummer 588989 k<br />
          Handelsgericht Wien<br />
        </small>
      </p>
      <p>
        <small>
          Mitglied der Wirtschaftskammer für Wien, Kammernummer 892504<br />
          Fachgruppe: Unternehmensberatung, Buchhaltung und
          Informationstechnologie<br />
          (Gewerbe-)Behörde gem. ECG: Magistratisches Bezirksamt des XIII.
          Bezirkes<br />
        </small>
      </p>
      <p>
        <small>
          Berufsrecht:
          <a
            href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597">Gewerbeordnung</a>
        </small>
      </p>
      <p>
        <small>
          Beschwerden kannst du an die
          <a href="http://ec.europa.eu/odr">Online-Streitbeilegungsplattform der EU richten</a>. Oder du schreibst uns
          einfach eine Mail an mail@devcraft.academy.
        </small>
      </p>
    </div>
  </footer>
</body>

</html>
