<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K493TCNV');</script>
  <!-- End Google Tag Manager -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
  <script src="/assets/scripts/quiz-funnel.js" defer></script>
  <script type="module" src="/assets/scripts/quiz.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% seo %}
  <link rel="preconnect" href="https://fast.vidalytics.com" />
  <link rel="stylesheet" href="/assets/css/marketing-funnel-style.css" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0-rc.17/dist/cookieconsent.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K493TCNV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <div class="funnel-header justify-content-center gap-3">
      {% svg /assets/images/logo.svg width=45 %}
      <div class="h2 mb-0">DevCraft Academy</div>
    </div>
  </header>
  {{ content }}
  <footer>
    <div class="impressum-funnel">
      <a class="impressum-link" href="/impressum.html" target="_blank">Impressum</a>
      <a class="impressum-link" href="/dsgvo.html" target="_blank">Datenschutzerklärung</a>
      <a class="impressum-link" type="button" data-cc="show-preferencesModal">Cookie-Einstellungen</a>
    </div>
  </footer>
  <script type="module" src="../cookieconsent-confing.js"></script>
</body>
</html>
