<!DOCTYPE html>
<html lang="de">

<head>
  {% include google_tag_start.html %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
  <script type="module" src="/assets/scripts/quiz.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% seo %}
  {% include meta_links_marketing.html %}
</head>

<body>
  {% include google_tag_end.html %}
  <header class="d-flex align-items-center justify-content-center gap-3 mt-3">
    {% svg /assets/images/logo.svg width=45 %}
    <div class="h2 mb-0">DevCraft Academy</div>
  </header>
  {{ content }}
  <footer class="d-flex flex-column flex-md-row align-items-center justify-content-md-around my-4">
    <a href="/impressum.html" target="_blank">Impressum</a>
    <a href="/dsgvo.html" target="_blank">Datenschutzerklärung</a>
    <button class="btn btn-link" data-cc="show-preferencesModal">Cookie-Einstellungen</button>
  </footer>
  <script type="module" src="../cookieconsent-confing.js"></script>
</body>
</html>
